<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cluster.css' %}" rel="stylesheet">
</head>

<!-- JS -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
<!-- <script src="http://echarts.baidu.com/build/dist/echarts.js"></script> -->
<script type="text/javascript" src="{% static 'js/echarts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/FileSaver.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/render-cluster.js' %}"></script>


<script type="text/javascript">
    /**
     * Getting data from backend
     */
    $(document).ready(function() {
        // The func that calls getData
        function pull() {
            console.log("Pull Called");
            console.log("{% url 'getdata' %}");
            $.ajax ({
                type: "GET",
                url: "{% url 'getdata' %}",
                success: updater, //Call this func when we have some data
                dataType: "json",
                cache: false //VITAL line: the getJON func does not prevent caching!
            })
        }

        // Func to use the data fetched
        function updater( data, success ) {
            console.log("updater called");
            if (data) {
                if (data.done) {
                    txt = "Clustering Completed, Rendering Clusters!";
                    /**
                     * Render Cluster
                     */
                    renderData(data);
                    $( "#loadWait" ).hide( "slow");
                } else {
                    txt = "Performing Clustering, Please Wait!";
                    window.setTimeout( pull, 2000 );
                }
                // Display out count/message
                $('#loadWait').text(txt);
            }
        } //end updater

        /**
         * Call the executeClustering method to begin tSNE
         * execution. Once execution begins, check after
         * 5 seconds whether execution has finished.
         */
        $.ajax ({
            type: "GET",
            url: "{% url 'executeclustering' %}",
            cache: false
        })

        window.setTimeout( pull, 1000);
    }); //end ready

</script>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">NatLang WordEmbeddings Viz</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Upload Embeddings</a></li>
                    <li><a href="upload-coordinates">Upload Coordinates</a></li>
                    <li class="active"><a href="#">Cluster<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="loadWait" class="chart-title">Loading, Please Wait!</div>
        </div>
    </div>

    <div id="bilingual-embeddings">
        <div class="chart-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chart-title">
                        Bilingual Word Embeddings
                    </div>
                    <div class="chart-stage">
                        <div id="cluster-render"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>