<html>
<head>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.2.js' %}"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {

        // The func that calls getCount
        function pull() {
            console.log("Pull Called");
            // I use $.ajax. getJSON seems to cache the last data on ie6. Firefox work tho.
            console.log("{% url 'getdata' %}");
            $.ajax ({
                type: "GET",
                url: "{% url 'getdata' %}",
                success: updater, //Call this func when we have some data
                dataType: "json",
                cache: false, //VITAL line: the getJON func does not prevent caching!

            })
        }

        // Func to use the data fetched
        function updater( data, success ) {
            console.log("updater called");
            if (data) {
                // If done flag sent, say so.
                if (data.done) {
                    console.log(data.done);
                    txt = "DONE";
                    console.log(data);
                } else {
                    // We are busy, get the count and...
                    console.log(data.done);
                    txt = "In Progress";
                    // set this to start again in 2 seconds:
                    window.setTimeout( pull, 2000 );
                }
                // Display out count/message
                $('#msg').text( "CLUSTERING: " + txt );
            }
        } //end updater

        // You can start it automagically like this:
        $('#muffin').load("{% url 'executeclustering' %}");
        window.setTimeout( pull, 10000);

    }); //end ready
</script>

<div id="muffin">DARN</div>
<div id="msg" style="border:1px solid red;">NUMBER</div>

</body>
</html>