<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <title>Upload Coordinates</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/upload.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">NatLang WordEmbeddings Viz</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Upload Embeddings</a></li>
                    <li class="active"><a href="#">Upload Coordinates<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form class="form-upload" action="{% url "upload-coordinates" %}" method="post" enctype="multipart/form-data">
            <h2 class="form-heading">Upload Coordinates</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <div class="form-labels">
                    <div class="form-label">
                        {{ form.coordinatesFile.label_tag }}
                    </div>
                    <div class="form-help">
                        {{ form.coordinatesFile.help_text }}
                    </div>
                </div>

                {% if form.coordinatesFile.errors %}
                    {% for error in form.coordinatesFile.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}

                <span class="btn btn-success fileinput-button">
                    <span>Add Coordinate File</span>
                    {{ form.coordinatesFile }}
                </span>
            </div>

            <div class="form-group">
                <div class="form-labels">
                    <div class="form-label">
                        {{ form.wordsFile.label_tag }}
                    </div>
                    <div class="form-help">
                        {{ form.wordsFile.help_text }}
                    </div>
                </div>

                {% if form.wordsFile.errors %}
                    {% for error in form.wordsFile.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}


                <span class="btn btn-success fileinput-button">
                    <span>Add Word File</span>
                    {{ form.wordsFile }}
                </span>
            </div>

            <div class="form-group">
                <div class="form-labels">
                    <div class="form-label">
                        {{ form.lang1DataFile.label_tag }}
                    </div>
                </div>

                {% if form.lang1DataFile.errors %}
                {% for error in form.lang1DataFile.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}


                <span class="btn btn-success fileinput-button">
                    <span>Add Lang1 Data File</span>
                    {{ form.lang1DataFile }}
                </span>
            </div>

            <div class="form-group">
                <div class="form-labels">
                    <div class="form-label">
                        {{ form.lang2DataFile.label_tag }}
                    </div>
                </div>

                {% if form.lang2DataFile.errors %}
                {% for error in form.lang2DataFile.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}


                <span class="btn btn-success fileinput-button">
                    <span>Add Lang2 Data File</span>
                    {{ form.lang2DataFile }}
                </span>
            </div>

            <div class="form-group">
                <div class="form-labels">
                    <div class="form-label">
                        {{ form.alignmentFile.label_tag }}
                    </div>
                </div>

                {% if form.alignmentFile.errors %}
                {% for error in form.alignmentFile.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}


                <span class="btn btn-success fileinput-button">
                    <span>Load Previous Annotations</span>
                    {{ form.alignmentFile }}
                </span>
            </div>
            <input type="submit" class="btn btn-default btn-lg btn-block btn-primary start" value="Upload" /></p>
        </form>
    </div>
</body>
</html>